html, body {
    min-width: 650px;
    font-family: "Overlock", cursive;
}

/* begin: TABLE */
.displayTable {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
    margin: 0;
}
.cell {
    display: table-cell;
    float: none;
}
/* end: TABLE */

.width30 {
    width: 30px;
}

.width150 {
    width: 150px;
}

.textEllipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.alertError {
    color: red;
}

.colorWhite {
    color: white;
}
.userLink a:focus, .userLink a:hover {
    color: white;
}

.cursorPointer {
    cursor: pointer;
}

.paddingT3 {
    padding-top: 3px;
}
.paddingT7 {
    padding-top: 7px;
}
.paddingL30 {
    padding-left: 30px;
}
.paddingT4B4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar {
    min-height: 40px;
}

.navbar-fixed-top {
    -webkit-box-shadow: 0 9px 15px -6px rgba(0,0,0,0.3);
    box-shadow: 0 9px 15px -6px rgba(0,0,0,0.3);
    background: #2d1b33;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#2d1b33),color-stop(100%,#1f1223));
    background-image: -webkit-linear-gradient(#2d1b33,#1f1223);
    background-image: -moz-linear-gradient(#2d1b33,#1f1223);
    background-image: -o-linear-gradient(#2d1b33,#1f1223);
    background-image: linear-gradient(#2d1b33,#1f1223);
    margin: 0;
}

.content-main {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 1px;
    padding-left: 30px;
    background: #d7c9db;
}

#footer {
    background: #2d1b33;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#1f1223),color-stop(100%,#2d1b33));
    background-image: -webkit-linear-gradient(#1f1223,#2d1b33);
    background-image: -moz-linear-gradient(#1f1223,#2d1b33);
    background-image: -o-linear-gradient(#1f1223,#2d1b33);
    background-image: linear-gradient(#1f1223,#2d1b33);
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 110px;
}

blockquote {
    height: 70px;
}
label {
    margin-bottom: 0px;
}
.form-control {
    width: unset;
}
