<div class="form-group">
    <label for="evtName">Name</label>
    <input type="text" id="evtName" ng-model="evtName" class="form-control">
    <label for="evtDate">Date</label>
    <input type="date" id="evtDate" ng-model="evtDate" class="form-control">
    <label for="evtDescription">Description</label>
    <textarea id="evtDescription" ng-model="evtDescription" rows="4" cols="50" class="form-control"></textarea>
    <label for="evtPrice">$</label>
    <input type="number" id="evtPrice" ng-model="evtPrice" min="1" max="9999" size="4" class="form-control" />
    <div class="paddingTop30 text-center">
        <alert-bar alert-msg="{{errorText}}"></alert-bar>
        <button type="button" class="btn btn-danger" ng-click="Save()">Save</button>
    </div>
</div>