<div class="form-group form-signin" ng-show="logedInUser.userID === ''">
    <label for="userID">User ID</label>
    <input type="text" id="userID" ng-model="userID" class="form-control" ng-keyup="onKeyUpLogin($event)">
    <label for="password">Password</label>
    <input type="password" id="password" ng-model="password" class="form-control" ng-keyup="onKeyUpLogin($event)">
    <div class="paddingTop30 text-center">
        <alert-bar alert-msg="{{errorText}}"></alert-bar>
        <button type="button" class="btn btn-danger" ng-click="LogInUser()">Login</button>
    </div>
</div>
<div class="form-group" ng-hide="logedInUser.userID === ''">
    <div>
        User ID: {{logedInUser.userID}}
    </div>
    <div>
        First Name: {{logedInUser.firstName}}
    </div>
    <div>
        Last Name: {{logedInUser.lastName}}
    </div>
    <div>
        Age: {{logedInUser.age}}
    </div>
    <div class="paddingTop30 text-center">
        <button type="button" class="btn btn-danger" ng-click="LogOutUser()">Logout</button>
    </div>
</div>