<div class="form-group">
    <div>
        <h2>What is the mission?</h2>
        <p>
            Everyone wants to do things that are new and different, but most of us spend our free time just doing the same old stuff.
            This site give you an idea to make sure the next time someone asks you "when did you last do something different?" - you will have a great answer!
        </p>
        <h2>Why you need to find something new?</h2>
        <p>
            Everyone deserves bit of variety. So, you can find the most original and interesting events to bring them onto the site.
        </p>
    </div>
    <div class="margingTop30">
        Copyright &copy; 2015-<span ng-bind="$ctrl.getYear()"></span> by <strong>gaX</strong>
</div>
</div>