<div class="form-group displayTable">
    <div class="row">
        <div class="cell width150">
            <strong>Name</strong>
        </div>
        <div class="cell width200">
            <strong>Time to left (HH:mm:ss)</strong>
        </div>
        <div class="cell">
            
        </div>
    </div>
    <div ng-repeat="evt in $ctrl.getEvents()" class="row">
        <div class="cell width150 textEllipsis" ng-class="{'textLineThrough' : $ctrl.eventClosed(evt.date) }">
            <a ng-link="['EventDetail', {id: evt.keyID}]">{{evt.name}}</a>
        </div>
        <div class="cell width200">
            <span time-to-left="evt.date"></span>
        </div>
        <div class="cell paddingT4B4">
            <a class="btn btn-danger" ng-link="['EventDetail', {id: evt.keyID}]">Edit</a>
        </div>
    </div>
</div>